.cnUserBadgeRoot {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cnUserBadgeAvatar {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 50%;
}

.cnUserBadgePlaceholder {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
  background: #efefef;
}

.cnUserBadgeName {
  font-size: 14px;
  font-weight: 500;
  color: black;
  &:hover {
    color: rgb(22, 182, 169);
  }
}
