.cnDetailedCardRoot {
  display: flex;
  flex-direction: column;
  width: 600px;
  border: 1px solid #dbdbdb;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.cnDetailedCardHeader {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 60px;
  padding-left: 20px;
  background-color: #fff;
}

.cnDetailedCardImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cnDetailedCardButtons {
  display: flex;
  padding: 10px;
}

.cnDetailedCardLikes {
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
}

.cnDetailedCardComments {
  display: flex;
  flex-direction: column;
  padding: 0 10px 10px;
}

.cnDetailedCardTextArea {
  box-sizing: border-box;
  border: none;
  background: #fff;
  padding: 10px;
  outline: none;
  resize: none;
  width: 90%;
}

.cnDetailedLikeIcon {
  margin-right: 10px;
  cursor: pointer;
}

.cnDetailedLikeComment {
  cursor: pointer;
}

.cnDetailedCardLikeCommentTitle {
  font-size: 14px;
  color: #dbdbdb;
  cursor: pointer;
}

.cnDetailedCardTextAreaWrapper {
  background: white;
  position: relative;
}

.cnDetailedCardSendButton {
  position: absolute;
  padding: 18px;
  background: none;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: #9fd6e4;
  bottom: 0;
  right: 0;
  cursor: pointer;
  &:active {
    color: #427380;
  }
  &:disabled {
    color: red;
  }
}
