.cnUserBioRoot {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cnUserBioAvatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 60px;
  margin-bottom: 20px;
}

.cnUserBioInfo {
  display: flex;
  flex-direction: column;
}

.cnUserBioRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  gap: 40px;
}

.cnUserBioContent {
  margin-bottom: 20px;
}

.cnUserBioNickname {
  font-size: 27px;
  font-weight: 600;
  margin-right: 10px;
  margin-bottom: 20px;
}

.cnUserBioCounter {
  margin-right: 10px;
}

.cnUserBioName {
  font-weight: 600;
}

.cnButton {
  font-size: 16px;
  font-weight: 600;
  width: 100px;
  height: 40px;
  border: 1px solid gray;
  border-radius: 5px;
  &:hover {
    background-color: rgb(211, 211, 211);
  }
}
